.login-pf body {
    background: #fff;
}

h1#kc-page-title{
    font-size: 22px;
    font-weight: 500;
    color: #2c4c61;
    margin-top:6rem;
}

#RegisterButton {
    background-color: #5c97bc;
    border-color: #5c97bc;
    color: #fff;
    background-image: none;
    height:40px;
}
.registerBtn, input#kc-login.btn.btn-primary.btn-block.btn-lg{
    background-color: #5c97bc;
    border-color: #5c97bc;
    color: #fff;
    background-image: none;
    height:40px;
}

#kc-content {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.topNavbar {
    height:12rem;
    display: flex;
    padding:1rem 4.5%;
    flex-direction: row;
    justify-content: center;
    border-bottom:1px solid #dae1e7;
}

.logoWrapper {
    width:33%;
    margin-left:33%;
    display:flex;
    justify-content:center;
}

.Logo {
    width: 130px;
    height: 98px;
    background-image: url(../img/keycloak-logo-text.png);
    background-size: cover;
    background-position: center;  
    box-sizing: border-box;
    cursor:pointer;
}

.loginBar {
    display:flex;
    justify-content:flex-end;
    width:33%;
    margin-top:auto;
}

.loginButton {
    max-width: 130px;
    height: 22px;
    font-size: 1.4rem;
    color: #5c97bc;
    border-style: none;
    padding-left:1.5rem;
    cursor: pointer;
    background:#fff;
    text-decoration:none;
    padding-bottom:10px;
}

.light.loginButton {
    color:#5c97bc;
    padding-right:0;
    text-decoration:none !important;

}

.dark.loginButton {
    color:#4a5d68;
    text-decoration:none !important;

}


.secondaryBar {
    height:4rem;
    display: flex;
    justify-content:space-between;
    margin-bottom: 2rem;
    padding-left:5%;
    padding-right:5%;
    padding-top:2rem;
}

.secondaryH2 {
    font-size: 2rem;
    color: #101a21;
    margin:0;
}

.secondaryH2 span {
    font-weight: bold;
}

.linkBar {
    display:flex;
    flex-direction:row;
    align-items:center;
    list-style:none;
    padding-left:0;
}

.linkBar a {
    color: #203340;
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.6rem;
}

.linkBar a:hover {
    text-decoration:none;
}

.linkBar a:last-child{
    padding-right:0px;
}

.footerWrapper {
    width: 100%;
    height: 35rem;
    background-color: #fff;
    display:flex;
    flex-direction:column;
    justify-content: flex-end;
}

.footerBar {
    width:60%;  
    margin-left:auto;
    margin-right:auto;
    height: 2rem;
    display: flex;
    justify-content:center;
    margin-bottom: 2rem;
}

.footerLink {
    color: #2c4c61;
    display: inline-block;
    padding: 10px 15px;
    font-size: 1.6rem;
    max-width:220px;
    box-sizing:border-box;
}

.footerLink:hover {
    text-decoration:none;
}
.socialBar {
    width:130px;
    height:50px;
    margin-right:auto;
    margin-left:auto;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom:5rem;
}

.socialIconTw {
    width: 30px;
    height: 30px;
    border-radius:50%;
    background-image: url(../img/facebook-icon.svg);
    background-size: cover;
    background-position: center;
    margin-right: 2.0rem;
}

.socialIconFb {
    width: 30px;
    height: 30px;
    border-radius:50%;
    background-image: url(../img/google-icon.svg);
    background-size: cover;
    background-position: center;
    margin-right: 2.0rem;
}

.socialIconGo {
    width: 30px;
    height: 30px;
    border-radius:50%;
    background-image: url(../img/google-icon.svg);
    background-size: cover;
    background-position: center;
    margin-right: 2.0rem;
}

.bottomFooter { 
    padding: 3.9rem 17.5rem 3.9rem;
    background-color: #5c98bd;
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align: center;
    height: 12.6rem;
    width:100%;
}

.footerP {
    color: #fff;
    font-size:1.2rem;
    margin: 0;
}


.zocial:before {
	content: "";
	font: 120%/1.65 zocial;
	font-style: normal;
	font-weight: normal;
	padding: 0 0.5em;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	float:none;
	box-shadow:none;
}


#zocial-twitter{
    background:#1da1f2;
    color:#fff;
    font-size:12px;
    font-weight:100;
    line-height: 35px;

}
#zocial-facebook{
    background:#3b5998;
    color:#fff;
    font-weight:100;
    font-size:12px;
    line-height: 35px;

}

#login-with-social{
  font-size:1.4rem;
  margin-bottom:17px;
  margin-top:40px;
  color:#203340;
}

.login-pf-page .login-pf-settings{
  justify-content: flex-start;
}

#RegisterButton {
  margin-bottom:3rem !important;
}

.alert-error {
    background-color: #ffffff;
    border-color: #cc0000;
    color: #333333;
}

#kc-locale ul {
    display: none;
    position: absolute;
    background-color: #fff;
    list-style: none;
    right: 0;
    top: 20px;
    min-width: 100px;
    padding: 2px 0;
    border: solid 1px #bbb;
}

#kc-locale:hover ul {
    display: block;
    margin: 0;
}

#kc-locale ul li a {
    display: block;
    padding: 5px 14px;
    color: #000 !important;
    text-decoration: none;
    line-height: 20px;
}

#kc-locale ul li a:hover {
    color: #4d5258;
    background-color: #d4edfa;
}

#kc-locale-dropdown a {
    color: #4d5258;
    background: 0 0;
    padding: 0 15px 0 0;
    font-weight: 300;
}

#kc-locale-dropdown a:hover {
    text-decoration: none;
}

a#kc-current-locale-link {
    display: block;
    padding: 0 5px;
}

/* a#kc-current-locale-link:hover {
    background-color: rgba(0,0,0,0.2);
} */

a#kc-current-locale-link::after {
    content: "\2c5";
    margin-left: 4px;
}

.login-pf .container {
    padding-top: 40px;
}

.login-pf a:hover {
    color: #5c97bc;
}

#kc-logo {
    width: 100%;
}

#kc-logo-wrapper {
    background-image: url(../img/keycloak-logo-2.png);
    background-repeat: no-repeat;
    height: 63px;
    width: 300px;
    margin: 62px auto 0;
}

div.kc-logo-text {
    background-image: url(../img/keycloak-logo-text.png);
    background-repeat: no-repeat;
    height: 100px;
    width: 130px;
    margin: 0 auto;
}

div.kc-logo-text span {
    display: none;
}

#kc-header {
    color: #ededed;
    overflow: visible;
    white-space: nowrap;
}

#kc-header-wrapper {
    font-size: 29px;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 1.2em;
    padding: 10px 0px;
    white-space: normal;
    border-bottom:1px solid #dae1e7;
}

#kc-content {
    width: 100%;
}

/* #kc-content-wrapper {
    overflow-y: hidden;
} */

#kc-info {
    padding-bottom: 200px;
    margin-bottom: -200px;
}

#kc-info-wrapper {
    font-size: 13px;
}

#kc-form-options span {
    display: block;
}

#kc-form-options .checkbox {
    margin-top: 0;
    color: #72767b;
}

#kc-terms-text {
    margin-bottom: 20px;
}

#kc-registration {
    margin-bottom: 15px;
}

/* TOTP */

ol#kc-totp-settings {
    margin: 0;
    padding-left: 20px;
}

ul#kc-totp-supported-apps {
  margin-bottom: 10px;
}

#kc-totp-secret-qr-code {
    max-width:150px;
    max-height:150px;
}

#kc-totp-secret-key {
    background-color: #fff;
    color: #333333;
    font-size: 16px;
    padding: 10px 0;
}

/* OAuth */

#kc-oauth h3 {
    margin-top: 0;
}

#kc-oauth ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#kc-oauth ul li {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 12px;
    padding: 10px 0;
}

#kc-oauth ul li:first-of-type {
    border-top: 0;
}

#kc-oauth .kc-role {
    display: inline-block;
    width: 50%;
}

/* Code */
#kc-code textarea {
    width: 100%;
    height: 8em;
}

/* Social */

#kc-social-providers ul {
    padding: 0;
}

#kc-social-providers li {
    display: block;
}

#kc-social-providers li:first-of-type {
    margin-top: 0;
}

.zocial,
a.zocial  {
    width: 100%;
    font-weight: normal;
    font-size: 14px;
    text-shadow: none;
    border: 0;
    background: #f5f5f5;
    color: #72767b;
    border-radius: 0;
    white-space: normal;
}
.zocial:before {
  border-right: 0;
  margin-right: 0;
}
.zocial span:before {
    padding: 7px 10px;
    font-size: 14px;
}
.zocial:hover {
    background: #ededed !important;
}

.zocial.facebook,
.zocial.github,
.zocial.google,
.zocial.microsoft,
.zocial.stackoverflow,
.zocial.linkedin,
.zocial.twitter {
    background-image: none;
    border: 0;

    box-shadow: none;
    text-shadow: none;
}

/* Copy of zocial windows classes to be used for microsoft's social provider button */
.zocial.microsoft:before{ content: "\f15d"; }
.zocial.stackoverflow:before{ color: inherit; }

#kc-form-wrapper{
    max-width:100%;
}
#kc-social-providers{
    padding:0;
    border:0;
    max-width: 100%;
}

@media (min-width: 768px) {
    #kc-container-wrapper {
        position: absolute;
        width: 100%;
    }

    .login-pf .container {
        padding-right: 80px;
    }

    #kc-locale {
        position: relative;
        text-align: right;
        z-index: 9999;
    }
}

@media (max-width: 767px) {

    .login-pf body {
      background: white;
    }

    #kc-header {
        padding-left: 15px;
        padding-right: 15px;
        float: none;
        text-align: left;
    }

    #kc-header-wrapper {
      font-size: 16px;
      font-weight: bold;
      padding: 20px 60px 0 0;
      color: #72767b;
      letter-spacing: 0;
    }

    div.kc-logo-text {
        margin: 0;
        width: 150px;
        height: 32px;
        background-size: 100%;
    }

    #kc-form {
        float: none;
    }

    #kc-info-wrapper {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        margin-top: 15px;
        padding-top: 15px;
        padding-left: 0px;
        padding-right: 15px;
    }

    #kc-social-providers li {
        display: block;
        margin-right: 5px;
    }

    .login-pf .container {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    #kc-locale {
        position: absolute;
        width: 200px;
        top: 20px;
        right: 20px;
        text-align: right;
        z-index: 9999;
    }

    #kc-logo-wrapper {
        background-size: 100px 21px;
        height: 21px;
        width: 100px;
        margin: 20px 0 0 20px;
    }

}

@media (min-height: 646px) {
    #kc-container-wrapper {
        bottom: 12%;
    }
}

@media (max-height: 645px) {
    #kc-container-wrapper {
        padding-top: 50px;
        top: 20%;
    }
}

.card-pf form.form-actions .btn {
    float: right;
    margin-left: 10px;
}

#kc-form-buttons {
  margin-top: 0px;
}

.login-pf-page .login-pf-brand {
  margin-top: 20px;
  max-width: 360px;
  width: 40%;
}

.card-pf {
  background: #fff;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 500px;
  border-top: 0;
  box-shadow: 0 0 0;
}

/*tablet*/
@media (max-width: 840px) {
    .login-pf-page .card-pf{
      max-width: none;
      margin-left: 20px;
      margin-right: 20px;
      padding: 20px 20px 30px 20px;
    }
}
@media (max-width: 767px) {
    .login-pf-page .card-pf{
      max-width: none;
      margin-left: 0;
      margin-right: 0;
      padding-top: 0;
    }
    .card-pf.login-pf-accounts{
      max-width: none;
    }
}

.login-pf-page .login-pf-signup {
  font-size: 15px;
  color: #72767b;
}
#kc-content-wrapper .row {
  margin-left: 0;
  margin-right: 0;
}

@media (min-width: 768px) {
  .login-pf-page .login-pf-social-section:first-of-type {
    padding-right: 0px;
    margin-right: 0px;
  }
  /*.login-pf-page .login-pf-social-section:last-of-type {
    padding-left: 40px;
  } */
  .login-pf-page .login-pf-social-section .login-pf-social-link:last-of-type {
    margin-bottom: 0;
  }
}

.login-pf-page .login-pf-social-link {
  margin-bottom: 10px;
}
.login-pf-page .login-pf-social-link a {
  padding: 2px 0;
}

.login-pf-page.login-pf-page-accounts {
  margin-left: auto;
  margin-right: auto;
}

.login-pf-page .btn-primary {
    margin-top: 0;
}